<!-- Home -->
<ion-view>
  <ion-pane>
    <!--
    <ion-header-bar class="bar-stable">
      <h1 class="title"> Karbon </h1>
    </ion-header-bar>
    -->
    <ion-content style="text-align:center;padding:20%">
      <button class="button button-outline button-energized"
        ng-click="connect()">
        Connect
      </button>

      <br/> <br/>
      <br/> <br/>



      <div ng-if="device">

        <!-- DOOR -->
        <h1 class="light"> DOOR </h1>

        <br/>

        <button class="button button-outline button-energized"
          on-touch="toggle(char.door.open, 1, 2.5)"
          on-release="toggle(char.door.open)">
          Open
        </button>

        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

        <button class="button button-outline button-energized"
          on-touch="toggle(char.door.close, 1, 2.5)"
          on-release="toggle(char.door.close)">
          Close
        </button>


        <!-- LIGHT -->
        <h1 class="light"> LIGHT </h1>

        <br/>

        <button class="button button-outline button-energized"
          on-tap="toggle(char.light, 1)">
          On
        </button>

        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

        <button class="button button-outline button-energized"
          on-tap="toggle(char.light)">
          Off
        </button>

        <!-- ENGINE -->
        <h1 class="light"> ENGINE </h1>

        <br/>

        <button class="button button-outline button-energized"
          on-tap="toggle(char.engine, 1)">
          On
        </button>

        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

        <button class="button button-outline button-energized"
          on-tap="toggle(char.engine)">
          Off
        </button>



      </div>

    </ion-content>
  </ion-pane>

</ion-view>
